127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% set target_223_ip = ansible_all_ipv4_addresses | select('match', '^192\.168\.223\.') | first | default('') %}
{% set target_56_ip = ansible_all_ipv4_addresses | select('match', '^192\.168\.56\.') | first | default('') %}

{% if target_223_ip %}
192.168.223.101 rocky9a
192.168.223.102 rocky9b
192.168.223.103 rocky9c
192.168.223.104 ubuntu24a

{{ target_223_ip }} www.example.net
{{ target_223_ip }} www.domain.org

{% elif target_56_ip %}
192.168.56.101 rocky9a
192.168.56.102 rocky9b
192.168.56.103 rocky9c
192.168.56.104 ubuntu24a

{{ target_56_ip }} www.example.net
{{ target_56_ip }} www.domain.org
{% endif %}